# Ignore all files without extensions in the examples directory
# Ignore all files in the examples directory and subdirectories
examples/**
# Un-ignore all directories to allow further rules to be applied
!examples/**/
# Un-ignore all files with extensions
!examples/**/*.*

generated-docs/

.direnv/
